.section.section__editor
	.container
		.editor__top
			.editor__left.editor__top__left
				h2  Инструментальный  аэрозольный комплекс
			.editor__right.editor__top__right
				img(src="img/projectPage/project__top__picture.png", alt="")
		.editor__content 
			.editor__left.editor__content__left
				p 
					| Об инструментальном аэрозольном комплексе рассказывают президент географического факультета, академик Н.С. Касимов и в.н.с. НИИЯФ МГУ, в.н.с. географического ф-та МГУ, к.ф.-м.н. О.Б. Поповичева
				br
				a.editor__link(href="") смотреть видео
				p Контакты
				a(href="mailto:ikmo-msu@yandex.ru") ikmo-msu@yandex.ru
			.editor__right.editor__content__right
				p 
					| Высокие темпы выбросов загрязняющих веществ в городах привели к накоплению в атмосфере огромного количества мельчайших взвешенных частиц - аэрозолей. Аэрозоли антропогенного происхождения обладают сложным химическим составом, включая экологически опасные компоненты техногенных эмиссий. Современные технологии комплексного анализа качества воздуха позволяют ученым делать научно-обоснованные оценки экологического состояния окружающей среды мегаполиса. Инструментальный аэрозольный  комплекс - это часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы. Проект имеет особую социальную значимость для улучшения уровня жизни городского населения, открывает перспективы для реализации эффективных стратегий экологического развития и разработки мероприятий по уменьшению опасных последствий загрязнения атмосферы Московского мегаполиса в целом.
				p 
					| Первый Аэрозольный комплекс МГУ был создан  в 2019 г. специалистами Научно – исследовательского института Ядерной физики МГУ  в Арктике, на острове Белый (Карское море).
				p
					| В 2020 году  открыт Аэрозольный комплекс на территории Метеорологической обсерватории МГУ.  Совместный проект географического факультета МГУ  и Научно – исследовательского института Ядерной физики МГУ реализован при поддержке Программы развития Московского университета.
				p 
					| Инструментальное оборудование Аэрозольного комплекса МГУ установлено за счет гранта на обновление оборудования для научных исследований в рамках федерального проекта «Развитие передовой инфраструктуры для проведения исследований и разработок в Российской Федерации» национального проекта «Наука и университеты»