.section__topMenu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	position: relative;
	background: #F4F3F0;
}
.topMenu {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	&__item {
		position: relative;
		display: inline-block;
		width: auto;
		flex: 1 0 auto;
		padding: 12px 25px;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #104CA6;
		background: #F4F3F0;
		text-decoration: none;
		cursor: pointer;
		transition: all .5s;
		white-space: nowrap;
		&:hover {
			background: #AF8F46;
			color: #fff;
			transition: all .5s;
		}
		&:focus {
			 background: #fff;
			 color: #104CA6;
		}

	}

}

@media (max-width: 1200px) {
	.topMenu__item {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 1046px) {
	.section__topMenu {
		display: none;
	}
}