.section__topMenu 
	.container 
		.topMenu
			a(class="topMenu__item" href="#") о факультете      
			a(class="topMenu__item" href="#") структура 
			a(class="topMenu__item" href="#") наука 
			a(class="topMenu__item" href="#") образование 
			a(class="topMenu__item" href="#") студентам 
			a(class="topMenu__item" href="#") абитуриентам 
			a(class="topMenu__item" href="#") сотрудникам 
			a(class="topMenu__item" href="#") кафедры 
