.section.section__breadcrumbs
	.container 
		.breadcrumbs
			a.breadcrumbs__item 
				img.breadcrumbs__item__icon(src="img/svg/home.svg", alt="icon")
				| Наука
			a.breadcrumbs__item 
				| Реализуемые проекты
			a.breadcrumbs__item.breadcrumbs__item__active
				| Инструментальный аэрозольный комплекс