.section.section__editor__tree
	.container
		.editor__tree
			.editor__tree__item 
				h2 Лаборатория городской экологии и климата (Мегагрант)
				p Можно одну строчку написать. 
				img(src="img/projectPage/editor__tree__item_1.png", alt="")
			.editor__tree__item 
				h2 Инструментальный аэрозольный комплекс
				p Это значимая часть инновационной системы непрерывного анализа аэрозольных загрязнений атмосферы столицы.
				img(src="img/projectPage/editor__tree__item_2.png", alt="")
			.editor__tree__item 
				h2 Мегаполис
				p Можно одну строчку написать. 
				img(src="img/projectPage/editor__tree__item_3.png", alt="")
			.editor__tree__item 
				h2 Геопортал МГУ
				p Технология оценки экологического состояния Московского мегаполиса на основе анализа химического состава микрочастиц.
				img(src="img/projectPage/editor__tree__item_4.png", alt="")


