.section.section__editor.section__editor__two
	.container
		.editor__top.editor__top__two
			.editor__left.editor__top__left
				h2 Реализуемые проекты
			.editor__right.editor__top__right
				p 
					| Общий текст. Lorem ipsum dolor sit amet,  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

